@import "@/assets/styles/ui/input";
@import "@/assets/styles/ui/button";
@import "@/assets/styles/ui/toast";


:root {
  --p-inputtext-focus-border-color: #fff !important;
  --p-floatlabel-focus-color: #fff !important;
}