body {
  background: #111;
  color: #fff;
}

.container {
  width: 100%;

  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }

  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }

  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }

  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }

  @media (width >= 110rem /* 1760px */) {
    max-width: 110rem /* 1760px */
  }
}

button,
a {
  cursor: pointer;
}
