@layer tailwind-base, primevue, tailwind-utilities;

@import "tailwindcss/theme.css" layer(tailwind-base);
@import "tailwindcss/preflight.css" layer(tailwind-base);
@import "tailwindcss/utilities.css" layer(tailwind-utilities);

body {
  background: #111;
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 110rem /* 1760px */) {
    max-width: 110rem /* 1760px */
  }
}

button,
a {
  cursor: pointer;
}

/*fade*/
.fade-enter-active {
  transition: opacity .7s;
}

.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

/*fadeChange*/
.fadeChange-enter-active, .fadeChange-leave-active {
  transition: opacity .4s .15s;
}

.fadeChange-leave-active {
  position: absolute;
  transition: opacity .4s;
}

.fadeChange-enter-from, .fadeChange-leave-to {
  opacity: 0;
}